# {{ ansible_managed }}
GRAFANA_ADMIN_USER={{ grafana_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ vault_grafana_admin_password }}
PROMETHEUS_RETENTION={{ prometheus_retention }}
GRAFANA_DOMAIN={{ caddy_base_domain }}
