# {{ ansible_managed }}
AULA_RETENCION={{ aula_iot_retention }}
AULA_GRAFANA_DOMAIN={{ aula_iot_grafana_domain }}
AULA_GRAFANA_ADMIN={{ aula_iot_grafana_admin }}
AULA_GRAFANA_ADMIN_PASSWORD={{ aula_grafana_adminpass.content | b64decode }}
AULA_PROXY_SUBNET={{ aula_iot_proxy_subnet }}
AULA_TELEGRAF_MQTT_PASS={{ aula_svc['aula-telegraf'] }}
AULA_EXPORTER_MQTT_PASS={{ aula_svc['aula-exporter'] }}
